/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
}

nav {
    background-color: #111;
    color: white;
    padding: 20px 50px;
}

/* nav top styles */

.nav-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.site-logo{
    height: 70px;
    width: auto;
}

.search {
    display: flex;
    align-items: center;
    background-color:  grey;
    padding: 10px 20px;
    border-radius: 10px;
}

.search-icon {
    width: 20px;
    height: 20px;
}

.search-input {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.search-input::placeholder {
    color: lightgrey;
}

.limited-offer {
    font-size: 20px;
    border-bottom: 2px solid greenyellow;
    color: lightgrey;
    cursor: pointer;
}

/* nav bottom styles */

.nav-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-item {
    padding: 0 25px;
    cursor: pointer;
    color: lightgrey;
    font-weight: 400;
}

/*slider styles */

.slider {
    background: url(https://cdn.pixabay.com/photo/2012/03/03/23/06/wall-21534_1280.jpg);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 78%);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    max-height: 75%;
    overflow: hidden;
}

.slider-wrapper {
    display: flex;
    width: 500vw;
    transition: all 1s ease-in-out;
}

.slider-bg {
    width: 50%;
    height: 87%;
    border-radius: 50%;
    position: absolute;
}

.slider-item {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.slider-img {
    width: 50%;
    z-index: 1;    
}

.slider-title {
    position: absolute;
    top: 10%;
    right: 10%;
    color: white;
    font-size: 50px;
    font-weight: 900;
    text-shadow: 10px 10px 4px rgba(0, 0, 0, 1);
    text-align: center;
    z-index: 1;
}

.slider-price {
    position: absolute;
    top: 30%;
    left: 10%;
    color: white;
    font-size: 50px;
    font-weight: 300;
    text-align: center;
    border: 2px solid white;
    border-radius: 4px;
    padding: 10px;
    z-index: 1;
}

.buy-button {
    position: absolute;
    top: 50%;
    right: 10%;
    font-size: 30px;
    font-weight: 900;
    padding: 0 5px;
    color: white;
    border: 1px solid grey;
    background-color: black;
    cursor: pointer;
    z-index: 1;
}

.buy-button:hover {
    color: black;
    background-color: white;
}

.slider-item:nth-child(1) .slider-bg {
    background-color: rgb(60, 1, 60);
}

.slider-item:nth-child(2) .slider-bg {
    background-color: rgb(50, 75, 220);
}

.slider-item:nth-child(3) .slider-bg {
    background-color: rgb(143, 111, 31);
}

.slider-item:nth-child(4) .slider-bg {
    background-color: rgb(154, 23, 141);
}

.slider-item:nth-child(5) .slider-bg {
    background-color: rgb(98, 215, 236);
}

.slider-item:nth-child(1) .slider-price {
    color: purple;
    background-color: lightgrey;
}

.slider-item:nth-child(2) .slider-price {
    color: rgb(50, 75, 220);
    background-color: lightgrey;
}

.slider-item:nth-child(3) .slider-price {
    color: rgb(143, 111, 31);
    background-color: lightgrey;
}

.slider-item:nth-child(4) .slider-price {
    color: rgb(154, 23, 141);
    background-color: lightgrey;
}

.slider-item:nth-child(5) .slider-price {
    color: rgb(98, 215, 236);
    background-color: lightgrey;
}

/* feature section */

.features {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
}

.feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 250px;
}

.feature-img {
    max-height: 50px;
}

.feature-title {
    font-size: 1.125rem;
    font-weight: 900;
    padding: 10px;
}

.feature-description {
    color: grey;
    max-width: 200px;
}

/* product section */

.product {
    height: 100vh;
    background-color: whitesmoke;
    position: relative;
    clip-path: polygon(0 22%, 100% 0, 100% 100%, 0% 100%);
}

.product-img {
    width: 50%;
}

.product-details {
    position: absolute;
    top: 10%;
    right: 0;
    width: 40%;
    padding: 50px;
}

.product-title {
    font-size: 75px;
    font-weight: 900;
}

.product-desc {
    font-size: 1.5rem;
    color: grey;
    margin-bottom: 20px;
}

.colors, .sizes {
    display: flex;
    margin-bottom: 20px;
}

.color {
    height: 2rem;
    width: 2rem;
    border-radius: .3125rem;
    background-color: black;
    margin-right: 0.3125rem;
    cursor: pointer;
}

.color:last-child {
    background-color: darkblue;
}

.size {
    padding: 5px 20px;
    border: 1px solid grey;
    margin-right: 10px;
    cursor: pointer;
    font-size: 20px;
}

.product-button {
    position: absolute;
    bottom: 10%;
    left: 10%;
    padding: 10px 20px;
    font-weight: 600;
    background-color: black;
    color: white;
    cursor: pointer;
    border: 2px solid grey;
}

.product-button:hover {
    background-color: white;
    color: black;
}